@model IEnumerable<SDG.SpookyWisconsin.BL.Models.Member>

@{
    ViewData["Title"] = "Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsLetterOpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberOpt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tier)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsLetterOpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberOpt)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
