@model SDG.SpookyWisconsin.BL.Models.Cart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new {  id=item.MerchId  })
            </td>
        </tr>
}
    </tbody>
</table>

<dl class="row ms-2">
    <dt class="col-sm-1">
        @Html.DisplayNameFor(model => model.SubTotal)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SubTotal)
    </dd>
</dl>

<dl class="row ms-2">
    <dt class="col-sm-1">
        @Html.DisplayNameFor(model => model.Tax)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Tax)
    </dd>
</dl>

<dl class="row ms-2">
    <dt class="col-sm-1">
        @Html.DisplayNameFor(model => model.Total)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Total)
    </dd>
</dl>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar rounded-top">
            <div class="header rounded-top">
                <h4>Cart</h4>
            </div>
            <div class="bg-dark">
                @await Component.InvokeAsync("Cart")
            </div>
        </div>
    </div>
</div>