@model IEnumerable<SDG.SpookyWisconsin.BL.Models.Merch>

@{
    ViewData["Title"] = "Merch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Merch</h1>
<h2>@ViewBag.MerchTypeDesc</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card mb-2">
                <div class="card-header header">
                    <h3>@item.MerchName</h3>
                </div>
                <div class="card-img">
                    <img src="~/images/merch/@item.ImagePath"/>
                </div>

                <div class="card-body">
                    <h5>@Html.DisplayFor(modelItem => item.Description)</h5>
                    <h5>$@Html.DisplayFor(modelItem => item.Cost)</h5>
                    <h5>@Html.DisplayFor(modelItem => item.InStkQty) in stock</h5>
                </div>
                <div class="card-footer">
                    <input class="btn btn-primary btn-sm" type="button" onclick="AddToCart('@item.Id')" value="Add to Cart" />
                </div>
            </div>
        </div>
    }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar rounded-top">
            <div class="header rounded-top">
                <h4>Cart</h4>
            </div>
            <div class="bg-dark">
                @await Component.InvokeAsync("Cart")
            </div>
        </div>
    </div>
</div>
